/* TODO: Rework Employee Board Design */
/* TODO: Make Footer Responsive */

/* Fonts */
@font-face {
    font-family: "Oswald";
    src: url("./fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: normal;
    src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

/* Universal Styles */
html {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: #ebebeb;  
}

h1 {
    font-size: 1.0625rem;
    font-weight: bold;
}

p {
    font-size: 0.75rem;
}

section {
    background-color: #dadada;
    margin: 3% 2%; 
    height: 20rem;
    width: 95%;
}

/* Media Defaults */
.compact {
    display: none;
}

/* Header */
header {
    display: flex;
    height: 2.8rem;
    width: 100%;
    background-color: #7a5050;
    align-items: center;
    border-bottom: 0.0625rem solid #7a4949;
}

header img {
    margin: 0 0.125rem;
    max-height: 100%;
    max-width: 600px;
}

header .flex-spacer {
    flex-grow: 2;
}

header nav {
    margin-right: 1rem;
    min-width: 180px;
}

header nav li {
    display: inline;
}

header nav li a {
    font-size: 1.0625rem;
    text-decoration: none;
    color: #dadada;
    margin: 0 0.5rem;
}

/* Banner */
#banner-section {
    height: 12rem;
}

#banner {
    display: block;
    width: 100%;
    height: 100%;
}

/* Chicken History */

#chicken-section {
    display: flex;
    background-image: url('./images/food-chicken.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    justify-content: center;
    flex-flow: column nowrap;
    text-align: center;
}

#chicken-section h2 {
    font-size: 5rem;
    font-weight: bold;
    margin-left: 1rem;
    text-shadow: black 0.1rem 0.1rem 0.05rem;
}

#chicken-section p {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 1rem;
    text-shadow: white 0.1rem 0.1rem 0.05rem;
}

/* Employees Section */
#employees {
    text-align: center;
    font-size: 1rem;
}

#employees h2 {
    font-size: 1.1rem;
    font-weight: bold;
    text-shadow: black 0.1rem 0.1rem 0.05rem;
}

.portrait-container {
    width: 10.75em;
    height: 9em;
    display: inline-block;
    margin-right: 0.96875em;
    margin-top: 1.1em;
}

.portrait-container h3, h4 {
    font-weight: bold;
    color: white;
    text-shadow: black 0.1em 0.1em 0.05em;
}

.portrait-container h3 {
    font-size: 1.1em;
}

.portrait-container h4 {
    font-size: 0.55em;
}

.portrait-container img {
    width: 100%;
    height: auto;
    border: 0.125em solid #7a4949;
}

/* Footer */
footer {
    display: flex;
    height: 2.8rem;
    width: 100%;
    background-color: #7a5050;
    align-items: center;
    border-bottom: 0.0625rem solid #7a4949;
}

footer p {
    color: #dadada;
    margin-left: 0.875rem;
}

footer .flex-spacer {
    width: 8.5625rem;
    height: 100%;
}

footer a {
    color: #dadada;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


/* Responsive Designs */

/* Tablet Media Query */
@media only screen and (min-width: 426px) and (max-width: 810px) {
    /* Universal */
    section {
        height: 13.4rem;
    }

    /* Header */
    header nav li {
        background-color: #6b4040;
        border-radius: 10%;
        padding: 0.25rem;
        transition: background-color 0.5s;
    }

    header nav li:active {
        background-color: #8f0101;
    }

    /* Banner */
    #banner-section {
        height: 8rem;
    }


    /* Employees Section */
    #employees {
        font-size: 0.65rem;
    }

    /* Footer */
    footer {
        display: block;
    }

    footer .wide {
        display: none;
    }

    footer .compact {
        display: inline-block;
    }

    footer p {
        margin-top: 1.125rem;
        margin-left: 1.125rem;
    }

    footer a {
        float: right;
        margin-top: 0.75rem;
        margin-right: 1.125rem;
        background-color: #8f0101;
        padding: 0.25rem;
        border-radius: 10%;
        font-size: 0.75rem;
        transition: background-color 0.5s;
    }

    footer a:hover {
        text-decoration: none;
    }

    footer a:active {
        background-color: #ebebeb;
    }

    footer .flex-spacer {
        display: none;
    }
}


/* Medium Phone/Tablet Media Query */
@media only screen and (max-width: 426px) {

    /* Universal */
    section {
        height: 10rem;
    }

    /* Header */
    .compact {
        display: block;
    }

    .wide {
        display: none;
    }

    header nav li {
        background-color: #8f0101;
        border-radius: 0.35rem;
        padding: 0.125rem;
        transition: background-color 0.5s;
    }

    header nav li a {
        padding: 0;
        margin: 0;
    }

    /* Banner */
    #banner-section {
        height: 6rem;
    }

    /* Chicken History */
    #chicken-section h2 {
        font-size: 2.5rem;
    }

    #chicken-section p {
        font-size: 1.25rem;
    }

    /* Employees Section */
     #employees {
        font-size: 0.35rem;
    }

    /* Footer */
    footer {
        display: block;
    }

    footer .wide {
        display: none;
    }

    footer .compact {
        display: inline-block;
    }

    footer p {
        margin-top: 1.125rem;
        margin-left: 1.125rem;
    }

    footer a {
        float: right;
        margin-top: 0.75rem;
        margin-right: 1.125rem;
        background-color: #8f0101;
        padding: 0.25rem;
        border-radius: 10%;
        font-size: 0.75rem;
        transition: background-color 0.5s;
    }

    footer a:hover {
        text-decoration: none;
    }

    footer a:active {
        background-color: #ebebeb;
    }

    footer .flex-spacer {
        display: none;
    }

}

/* Tiny Phone Media Query */
@media only screen and (max-width: 222px) {
    /* Universal */
    section {
        height: 10rem;
    }

    /* Header */
    .compact {
        display: none;
    }

    /* Banner */
    #banner-section {
        height: 4rem;
    }

    /* Chicken History */
    #chicken-section h2 {
        font-size: 1.25rem;
    }

    #chicken-section p {
        font-size: 0.625rem;
    }

    /* Footer */ 
    footer a {
        margin: 0;
        position: relative;
        bottom: 3.375rem;
    }
}